<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{600,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>bei.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{480,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>dong.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,800},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>fa.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,640},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>nan.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,480},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{840,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{720,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{600,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{480,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,800},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,640},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>s9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,480},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>si.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,800},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,640},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,480},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>t9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>w9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>zhong.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahjong.jpg</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7988e2843530e98950f5ef88b0084686$</string>
            <key>textureFileName</key>
            <string>mahjong.jpg</string>
        </dict>
    </dict>
</plist>
